# Environment and configuration
.idea
.venv
venv
.pgpass
config2.py
__pycache__/

# Keep only .csv and .pdf files in supportive_data folder
/supportive_data/**
!/supportive_data/*.pdf
!/supportive_data/*.csv
